<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
      	<span class="glyphicon glyphicon-book books-modal__read-icon" aria-hidden="true" ng-if="book.read"></span>
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title books-modal__title" ng-bind="title"></h4>
      </div>
      <div class="modal-body">
					<p>
						<em class="small">Release date: {{ book.niceDate }}</em>
					</p>
					<p>{{ book.desc }}</p>
					<strong>{{ book.author }}</strong>

					<p>
						<a ng-if="book.shopUrl" href="{{ book.shopUrl }}" target="_blank">Buy it here!</a>
					</p>
					<p>
						Comments:<br>
						{{ book.comments }}
					</p>

      </div>
      <div class="modal-footer">
				<p class="books-modal__stars">
					<span
						class="glyphicon books-grid__star {{ star.full ? 'glyphicon-star' : 'glyphicon-star-empty' }}"
						aria-hidden="true"
						ng-repeat="star in book.stars">
					</span>
				</p>
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>